{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="./css/list.car.css">
{% endblock %}

{% block body%}

<h1 class="titrelist">Liste des véhicules</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Modèle</th>
      <th scope="col">Marque</th>
      <th scope="col">Couleur</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for voiture in voitures %}
    <tr>
      <th scope="row"></th>
      <td>{{ voiture.model }}</td>
      <td>{{ voiture.marque.name}}</td>
      <td style="width: 25px; height: 25px; background:{{ voiture.couleur }}">{{ voiture.couleur }}</td>
      <td>
        <a href="{{ path('car.update',{id: voiture.id})}}">Modifier</a>
        <a href="{{ path('car.delete', {id: voiture.id})}}">Supprimer</a>
        <a href="{{ path('car.show', {id: voiture.id})}}">View</a>
    </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}