{% extends "admin.layout.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="./css/add.car.css">
{% endblock %}

{% block body%}

<form method="POST" action="" enctype="multipart/form-data" class="form">
    <label for="modele" id="modele">Modèle:</label>
    <input name="modele" type="text" value="{{ voiture.model }}">

    <div class="input-group input-group-sm mb-3">
        <select name="marque">
            <option value="null">---</option>
            {% for marque in marques %}
                {% if marque.id is same as(voiture.marque.id)  %}
                    <option value="{{ marque.id }}" selected>{{ marque.name }}</option>
                    {% else %}
                        <option value="{{ marque.id }}">{{ marque.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <label for="color" id="color">Couleur:</label>
    <input name="color" type="color" value="{{ voiture.color }}">

    <div class="img-container">
        <img style=" width: 250px; height: 180px" src="{{ assets('/assets/img/' ~ voiture.imgPath) }}" alt="">
    </div>

    <input type="file" name="img" id="img">

    <input type="submit" value="Ajouter">
</form>

{% endblock %}